# Folders
.git
.yarn/cache
.storybook
build
cache
**/.git
locales/*.json
node_modules
omelette

# Files
.env
*.log
.dockerignore
.editorconfig
.eslintignore
src/addons
.eslintrc.js
.gitignore
.gitmodules
.prettierignore
bootstrap
cypress*.json
docker-compose.yml
Jenkinsfile
start_.sh